<h2 class="ml-3 mr-3 mb-5 pt-4 pb-5 m-md-5 show-title text-center">Plan d'accès</h2>
<section class="detail-block" id="map">
    <div class="container">
        <div class="row blockCoordonnate">
            <div class="col-lg-8 mapContour">
                <iframe class="map"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=1.8607449531555178%2C47.93260468073703%2C1.8822026252746584%2C47.941977460578975&amp;layer=mapnik&amp;marker=47.93729128304649%2C1.871473789215088"></iframe>
            </div>
            <div class="col-lg-4 adressContour">
                <div class="card border shadowCard-1">
                    <address class="bloc_adress text-center">
                        <div class="card-header adress-infos">Adresse</div>
                        <p>555 rue de Lorem Ipsum</p>
                        <p> 45000 Lorem Ipsum</p>
                        <div class="card-header adress-infos">Horaires</div>
                        <p>Lundi au vendredi</p>
                        <p>19h00 - 23h00</p>
                        <p>Samedi au dimanche</p>
                        <p>20h00 - minuit</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
