<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mr-5" href="/home"><img src="{{ asset('build/wild-circus-logo.jpg') }}" alt="logo"
                                                   height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

            <div class="collapse navbar-collapse " id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="/home#representation"><span class="nav-effect">SPECTACLES</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="{{ path('team') }}"><span class="nav-effect">WILD CIRCUS</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="/home#prices"><span class="nav-effect">TARIFS</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="/home#contact"><span class="nav-effect">NOUS CONTACTER</span></a>
                    </li>
                </ul>
            </div>

    </div>
</nav>