<form method="post" action="{{ path('admin_representation_delete', {'id': representation.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette représentation ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ representation.id) }}">
    <button class="btn btn-dark m-5">Supprimer</button>
</form>
