$primary-color: #FFFFFF;
$secondary-color: cornflowerblue;
$third-color: #FFF20B;
$fourth-color: #ff5037;
$link-color:black;
$card-team-color:rgba(39, 191, 251, 0.5);

$font-title: OpenSans-Regular;

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}