.carousel-circus {
  height: 25%;
}

.circus-title {
  font-size: 3rem;
  color: $primary-color;
}

.circus-accroche {
  color: $primary-color;
}

.web-page {
  background: url('../images/web-page.png') no-repeat center center fixed;
  background-size: cover;
  //opacity: 0.8;
}

/****Section Sectacles****/

.representation-title {
  color: $primary-color;
}

/****Section Tarifs****/
.card-img-price {
  object-fit: cover;
  height: 30vh;
}
