.card-img-top {
  width: 100%;
}

.col-md-6 {
  padding-right: 0;
  padding-left: 0;
}

/****home/show.html.twig****/

.card-img-top-show {
  width: 100%;
}

.event-paragraph {
  width: 100%;
}

.col-md-10 {
  padding-right: 0;
  padding-left: 0;
}