.card-img-price {
  height: 30vh;
}

/****Section Sectacles****/

.section-representation {
  background: url('../images/circus-show2.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.9;
}

.representation-title {
  color: $primary-color;
}

/****Section Tarifs****/

.section-prices {
  background-color: $fourth-color;
}