{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}Nouvel Artiste{% endblock %}

{% block body %}
    <div class="mt-5 container-xl container-lg container-fluid">
        <h1 class="text-center mt-3 mb-4">Créer un nouvel artiste</h1>
        <div class="admin-section pt-5 pb-5 px-5 border p-4">
            {{ include('artist/_form.html.twig') }}
        </div>
        <div class="flex d-flex justify-content-around">
            <a href="{{ path('admin_artist_index') }}" class="btn btn-dark m-5">Liste des artistes</a>
        </div>
    </div>
{% endblock %}
