{% extends 'base.html.twig' %}

{% block layout %}
    {% block header %}
        {% include 'include/_navbar.html.twig' %}
    {% endblock %}
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} msgFlash" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}
        {% endblock %}
    </main>
    {% block footer %}
        {% include 'include/_footer.html.twig' %}
    {% endblock %}
{% endblock %}