{% extends 'base.html.twig' %}

{% block layout %}
 <div class="row container-fluid">
  <header class="col-lg-2 p-0">
   {% block header %}
    {% include 'include/_navbar_admin.html.twig' %}
   {% endblock %}
  </header>
  <main class="col-lg-10 no-gutters">
   {% for label, messages in app.flashes %}
    {% for message in messages %}
     <div class="alert alert-{{ label }} msgFlash" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
     </div>
    {% endfor %}
   {% endfor %}
   {% block body %}
   {% endblock %}
  </main>
 </div>
{% endblock %}
